<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a routerLink="/">Accueil</a>
    <a routerLink="/posts">Posts</a>
    <a routerLink="/new-post" *ngIf="isAuth">Nouveau Post</a>
</div>
  
<nav class="navbar navbar-default navbar-fixed-top" id="mynav">
    <div class="container-fluid">
        <h3 class="navbar-header">Jack's Website</h3>
        <ul class="nav navbar-nav navbar-left">
            <li>
                <a (click)="openNav()" style="font-size:xx-large; font-family: 'Lucida Console', Courier, monospace;">&equiv;</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li *ngIf="!isAuth" routerLinkActive="active">
                <a routerLink="/signin">S'identifier</a>
            </li>
            <li>
                <button style="cursor:pointer"
                    class="btn btn-default pull-right navbar-btn"
                    *ngIf="isAuth"
                    (click)="onSignOut()">Déconnexion
                </button>
            </li>
        </ul>
    </div>
  </nav>