
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a href="#">Accueil</a>
</div>
  
<nav class="navbar navbar-default navbar-fixed-top" id="mynav">
    <div class="container-fluid">
        <h3 class="navbar-header">Jack's Website</h3>
        <ul class="nav navbar-nav navbar-right">
            <li *ngIf="!isAuth">
                <a>S'identifier</a>
            </li>
            <li>
                <button style="cursor:pointer"
                    class="btn btn-default pull-right navbar-btn"
                    *ngIf="isAuth">Déconnexion
                </button>
            </li>
        </ul>
    </div>
  </nav>