<div class="row">
    <div class="col-sm-8 col-md-offset-2">
        <h2 style="margin-top: 2em;">Un nouveau post</h2>
        <form class="form-horizontal" [formGroup]="newPostForm" (ngSubmit)="onSubmit()">
            <div style="margin-top: 3em; margin-bottom: 3em;">
                <div class="form-group">
                    <label class="control-label col-sm-4" for="pseudo">Votre pseudo :</label>
                    <div class="col-sm-6">          
                        <input type="text" class="form-control" id="pseudo" placeholder="Donnez un titre" formControlName="pseudo">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="titre">Titre :</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="titre" placeholder="Donnez un titre" formControlName="titre">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="resume">Résumé :</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="resume" placeholder="Résumez votre post"  formControlName="resume">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="content">Votre post :</label>
                    <div class="col-sm-6">          
                        <textarea class="form-control" id="content" rows="4" formControlName="content"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default" style="margin-bottom: 2em;" [disabled]="newPostForm.invalid">Créer votre post</button>
            </div>
        </form>
    </div>
</div>