<div class="container">
  <div id="title">
    <h1>Bienvenue !</h1> <br>
    <h4>Vous pouvez vous connecter, vous inscrire ou continuer en tant que invité.</h4>    
  </div>
  <div class="row" *ngIf="!isAuth">
    <div class="col-sm-8 col-md-offset-2">
      <h2 style="margin-top: 2em;">Créer votre compte</h2>
      <form class="form-horizontal" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div style="margin-top: 3em; margin-bottom: 3em;">
            <div class="form-group">
                <label class="control-label col-sm-4" for="login">Identifiant :</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="login" placeholder="Entrez un identifiant">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-4" for="mail">Adresse mail :</label>
                <div class="col-sm-6">
                  <input type="email" class="form-control" id="mail" placeholder="Entrez votre adresse mail">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-4" for="pwd">Mot de passe :</label>
                <div class="col-sm-6">          
                  <input type="password" class="form-control" id="pwd" placeholder="Entrez un mot de passe">
                </div>
              </div>
              <!-- TODO: SE SOUVENIR
              <div class="form-group">        
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label><input type="checkbox"> Se souvenir de moi</label>
                  </div>
                </div>
              </div> 
              -->
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Créer un compte</button>
            <span style="margin-left: 1em; margin-right: 1em;"></span>
        </div>
      </form>
    </div>

    <div class="col-sm-6">
        <h2>Se connecter</h2>
        <form class="form-horizontal">
          <div style="margin-top: 3em; margin-bottom: 3em;">
              <div class="form-group">
                  <label class="control-label col-sm-4" for="login">Identifiant :</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="login" placeholder="Entrez votre identifiant">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" for="pwd">Mot de passe:</label>
                  <div class="col-sm-6">          
                    <input type="password" class="form-control" id="pwd" placeholder="Entrez votre mot de passe">
                  </div>
                </div>
                <!-- TODO: SE SOUVENIR
                <div class="form-group">        
                  <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                      <label><input type="checkbox"> Se souvenir de moi</label>
                    </div>
                  </div>
                </div> 
                -->
          </div>
          <div class="form-group">
              <button type="submit" class="btn btn-default">Connexion</button>
          </div>
        </form>
      </div>
  </div>
  <div id="tail" *ngIf="!isAuth">
    <p>Vous avez déjà un compte ? Alors <a routerLink="/signin">connectez-vous</a> !</p>
  </div>
</div>
